target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
**/pubring.gpg
**/settings.xml
**/secring.gpg
**/secrets.tar
/examples/junit-unittest
/examples/junit-spring-integrationtest/nbproject/
/junit/spring-system-test/nbproject/
/examples/example-junit-spring-system-test/
/need/need-docker/nbproject/
/examples/example-junit-spring-need/nbproject/
/examples/example-junit-spring-integration-need/nbproject/
/examples/example-junit-spring-integrationtest-need/nbproject/
/examples/example-junit-spring-systemtest-need/nbproject/
/junit/spring-boot-system-test/nbproject/